._container {
  width: 60%;
  margin: 10vh auto;

  ._menu_list_text {
    color: white;
  }

  ._appbar {
    background: #0f2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #2c5364,
      #203a43,
      #0f2027
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #2c5364,
      #203a43,
      #0f2027
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  ._container_main_paper{
    padding: 8%;
    border-radius: 0;
    margin-top: 50px; 
  }

}
