._card{
  ._card_buttonContainer{
    width: 60%;
    margin: 20px auto;
  }
  ._card_buttonContainer_button{
    text-align: center;
    margin: 0px auto;
  }
  text-align: center;
  width: 40vw;
  margin: 50vh auto;
  transform: translateY(-50%);
}